.task1{
    font-weight: bold;
    font-style: italic;
}
.task2{
    margin-top:150px;
    font-weight: bold;
    font-style: italic;
}
.task3{
    font-weight: bold;
    font-style: italic;
}
.task4{
    margin-top:350px;
    font-weight: bold;
    font-style: italic;
}
.text{
    position: absolute;
    left:50px;
    top:50px;
    right:1000px;
    font-weight: bold;
  
}
.img{position: absolute;
    left:1000px;
    top:50px;
    right:50px;
    width:300px;
    height:150px;

  

}
.rectangles{ display:flex;
    flex-direction: row;

}
.rec1{
    background: rgb(163, 61, 61);
    display:flex;
    gap:20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    height:60px;
    color:black;
    margin: 10px;
}
.rec2{
    background: rgba(9, 251, 45, 0.552);
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    height:60px;
    color:black;
    margin:10px;
    box-shadow: 5px 5px 5px grey;


    


}
.rec3{
    background: rgb(78, 61, 163);
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    height:60px;
    margin:10px;
    color:black;
    



}
.rec4{
    background: rgb(240, 236, 5);
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    height:60px;
    margin:10px;
    color:black;
    border-radius: 5px black;



}
.boxes{
    position:relative;

}
.red{
    width:200px;
    height: 200px;
    background: red;
    margin:10px;
    position: absolute;
    top:10px;
    left:10px;


}
.blue{
    width:200px;
    height: 200px;
    background: rgb(0, 128, 255);
    margin:10px;
     position: absolute;
       top:40px;
    left:40px;

}
.purple{
    width:200px;
    height: 200px;
    background: rgb(85, 1, 76);
    margin:10px;
     position: absolute;
       top:70px;
    left:70px;
}
.table{
    background: rgb(205, 198, 198);
    width:600px;
    height:300px;
    border: 1px solid black;
    border-collapse:separate ;
    border-spacing: 0px 8px;
    font-weight: bold;
    text-align: left;



}
.table th {
    padding:10px ;
    border: 2px solid white);
   
    

}
.table td{padding:10px ;
     border: 2px solid white;
   
    
    

}
body{
    background: white;
}