 .one{
            width:300px;
            height:60px;
            text-align:center;
            margin:10px;
            color:black;
            background: rgb(217, 213, 213);
            display:flex;
            justify-content: center;
            align-items: center;
            
        }
        .two{  
            text-align: center;
            width:300px;
            height:60px;
            margin:10px;
            background:red;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .task2{
            background:rgb(217, 213, 213); 
            color:black;
            line-height:40px;
            text-align: center;
            margin:10px;
            width:300px;
            height:40px;
        }
        .task2::first-letter{

            color:white;
            background: red;
            padding:0 10px;
            margin-right:10px;
        }
        .task3{
            position: relative;
            background:rgb(217, 213, 213); 
            color:black;
            margin:10px;
            line-height:30px ;
            width:500px;
            height:40px;
            text-align: left;

            
        }
        .task3::before{
            content:attr(data-person);
            position: absolute;
            left:-90px;
            top:5px;
            width:50px;
            height:30px;
            color:black;
            background:rgb(217, 213, 213);
            padding:0 10px;
            
        }
        .task4{
            background:rgb(217, 213, 213); 
            color:black;
            margin:10px;
            text-align: left;
            width:500px;
            height:40px;
            line-height: 40px; /*عشان الpesoudo element مش بينفع مع flex*/
            
            
        }
        .task4::first-letter{
            float:left;
            color:white;
            background: red;
            padding:0 15px;
            margin-right:10px;

        }

        body{
            background: white;
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            justify-content: center;
            text-align: center;
            
        }
        