
body { 
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;
    
    
}
nav{ 
    position: fixed;
    top:0

    

}
nav a{
font-weight: 500;
}

.container{
    margin: auto;
    width: 600px;
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 80px;
}
.landing{
    background-image: url("../images/wp8613303-black-and-white-minimal-mountains-wallpapers.jpg");;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    background-position: center -200px;
}

.landing .intro-text h1{
    font-size: 40px;
    font-weight: 800;
    color: #10cab1;
    text-align: center;

}
.landing .intro-text p{
    color:black;
    font-size: 15px;
    font-weight: 100px;
    max-width:300px;
    text-align: center;
    line-height: 40px;
   
    
}
.features{
    margin: 0;
    background-color: #e7e6e6;
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-top:100px;
    gap:50px;
    
    
}
.feature{
    width:300px;
    height:300px;
}

.features .feature h3{
    font-weight: 800px;
    color:black;
}
.features .feature p{
    font-size:13px ;
    font-weight: 100px;
    color:rgb(39, 38, 38);
    line-height: 20px;

}
.features .feature i{
    color: #10cab1;
    font-size: 30px;
    

}
.special-heading{
    color:#c9c9c9;
    font-size:100px;
    text-align:center;

}
.special-heading + p{
    color:rgb(136, 135, 135);
    text-align:center;
    margin:-115px;
}
@media(max-width:768px) {
    .special-heading{
        font-size:50px;
    }
    .special-heading + p {
        margin:-60px;
    }

}
.services{
    padding-top:60px;
    padding-bottom:60px;
}
.services-content {
   margin-top:200px;
   display:flex;
   flex-direction:row;
   justify-content:center;
   align-items:center;
   

   
}
.services-content .column{
    max-width:400px;
}
.services-content
.text{
    padding:10px;
}
.services-content .icon{
    color: #10cab1;
    font-size:30px;
}


.portfolio{
    background-color:#f6f6f6 ;
    padding-top:60px;
    padding-bottom:60px;
    
}
.portfolio-content {
    margin-top:200px;
    display:flex;
   flex-direction:row;
   justify-content:space-around;


}
.portfolio-content img{
    width: 100%;
}

.box1,
.box2,.box3{
    width:300px;
    height:500px;

}

.about{
    padding-top:60px;
    padding-bottom:60px;
}
.about .about-content {
    margin-top:200px;
    display:flex;
    justify-content:space-around;

}
.about .about-content .text{
    max-width:530px;
    max-height:300px;
    line-height: 1.8;
    margin:-10px
}
.about .about-content .text .p1{
   font-weight: 800;
   font-size: 20px;
}

.about .about-content .text .line{
    width:265px;
    border-color: #10cab1;
    display: inline-block;
    
    

}
.about .about-content .image{
    position: relative;
}
.about .about-content .image::before{
    content:"";
    position: absolute;
    background-color: #ebeced;
    width:100px;
    height:calc(100% + 80px);
    top:-40px;
    left:-20px;
    z-index:-1;
}
.about .about-content .image::after{
    content:"";
    position: absolute;
    width:100px;
    height:250px;
    top:-40px;
    right: -120px;
    z-index:-1;
    border-left: 80px solid  #10cab1;
    border-bottom: 80px solid  #10cab1;
}
.contact{ 
    background-color:#f6f6f6 ;
    padding-top:60px;
    padding-bottom:60px;
}
.contact .contact-content{
    margin-top: 200px;
    padding-left: 100px;
}
.contact .contact-content .p1{
    color:rgb(8, 8, 81);
    font-size: 45px;
    font-weight: 800;
   
}
.contact .contact-content .p2{
    color:#10cab1;
    font-size: 30px;
    font-weight: 800;
    padding-left: 50px;
    margin-top:-30px
}
.contact .contact-content .p3{
    color:rgb(136, 135, 135);
    padding-left: 80px;
    
}
/*.contact .contact-content i{
    color:#10cab1
}*/

footer .footer{
    color: white;
    background-color: rgb(8, 8, 81);
    text-align: center;
    padding: 25px;

}







